.game-card{
    background-color: rgb(214, 235, 255);
    width: 290px;
    border-radius: 15px;
    padding: 1.3rem;
    margin-left: 2.5rem;

    @include media(P){
        margin-left:0; 
        margin-bottom: 1rem; 
    }
    @include media(PL){
        margin-left:0; 
        margin-bottom: 1rem;  
    }
    @include media(MM){
        margin-left:0;
        margin-bottom: 1rem;   
    }
    .gameCard-icons{
        @include flex(row,center,space-between);
        .game-icon{
            font-size: 2.4rem;
        }
        .dot-icons{
            font-size: 1.5rem; 
            cursor: pointer;
        }
    }
    .gameCard-info{
        margin-top: 1.5rem;
        h3{
            font-size: 1.4rem;
            text-transform: capitalize;
        }
        small{
            text-transform: capitalize;
            font-size: 0.9rem;
            color: $c5;
        }
    }
}