.header-icons ul{
    @include flex(row,center,space-between);
    li{
        @include flex(row,center,space-between);
        font-size: 1.09rem;
        background-color: $c1;
        border-radius: 50%;
        padding: 0.7rem;
        margin: 0 0.4rem;
        cursor: pointer;
        @include media(P){
            font-size: 1rem;
            padding: 0.5rem;
            margin: 0 0.3rem;
        }
        @include media(PL){
            font-size: 1rem;
            padding: 0.5rem;
            margin: 0 0.3rem;
        }
        @include media(MM){
            font-size: 1rem;
            padding: 0.5rem;
            margin: 0 0.3rem;
        }
    }
}