.sidebar-wrapper{
    @include flex(column,center,space-around);
    background-color: $c3;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    ul li{
       @include flex(row,center,flex-start); 
       margin: 1.5em 0;
       font-size: 1em;
       color: gray;
       cursor: pointer;
       &:hover{
           color: $c6;
       }
       .icon{
           padding-right: 0.7rem;
           font-size: 22px;
           color: $c6;
       }
    }
    .history-card{
        background-color: $c8;
        width: 130px;
        border-radius: 15px;
        padding: 1rem;
        .history-icons{
            @include flex(row,center,space-between);
            .clock-icon{
                font-size: 1.7rem;
                color: white;
            }
            .dot-icons{
                font-size: 1.5rem; 
                cursor: pointer;
                color: white;
            }
        }
        .history-info{
            margin-top: 1.5rem;
            h3{
                font-size: 1rem;
                text-transform: capitalize;
                color: $c1;
            }
            small{
                text-transform: capitalize;
                color: $c1;
            }
        }
    }
}