.stat-card{
    background-color: $c7;
    width: 290px;
    border-radius: 15px;
    padding: 1.3rem;
    margin-left: 2.5rem;
    .statCard-icons{
        @include flex(row,center,space-between);
        .stat-icon{
            font-size: 2.4rem;
        }
        .dot-icons{
            font-size: 1.5rem; 
            cursor: pointer;
        }
    }
    .statCard-info{
        margin-top: 1.5rem;
        h3{
            font-size: 1.4rem;
            text-transform: capitalize;
        }
        small{
            font-size: 0.9rem;
            text-transform: capitalize;
            color: $c5;
        }
    }
}