.table-wrapper{
  background-color: $c8;
  border-radius: 30px;
  width: 350px;
  padding: 0.7rem;
  margin-top: 2.5rem;
  table {
    border-collapse: collapse;
  }
  table tr td{
    color: $c2;
    text-align: center;
  }
  table td, table th {
    padding: 1rem;
  }
  table tr:hover {
    background-color: $c4;
    cursor: pointer;
    border-radius: 5em;
  }
  table tr:hover th {
    background-color: black;
    color: $c4;
  }
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: $c4;
  }
}
